@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,500;0,600;1,800;1,900&family=Merriweather&family=Roboto:wght@500&display=swap');
.App {
text-align: center;
  font-family:Roboto;
}

.animate__animated{
  
 height:200px;
}
.animate__backInRight{
  height: 300px;
;
}

.img-footer img{
  margin-bottom: -39px; 
width: 80px;

}
.img-card{
  
  border-radius:5px;
  margin-top: 20px;
  width: 232px;
  height: 245px;
}
.img-card img{
  width: 200px;
  height: 200px;
  
}
.card{
  background-color:red;
  box-shadow: -1px 1px 9px -5px rgba(0,0,0,0.57);
  margin: 30px 20px;
  display: flex;
  align-items: center;
  width: 300px;
  height: 475px;
}
.container-item{
  
  background-color: white;
  margin-top: -85px;
  height: 324px;
  width: 230px;
  padding-top: 105px;
  border-radius: 10px;
}
.sub-card{
 
margin-top: -40px;
}

.item-card{
display: grid;
grid-template-columns:1fr  1fr;
justify-items: stretch;
margin-left: 35px;
margin-top: 37px;
}

.item-card p{
color: rgb(20, 19, 19);
width: max-content;
border-radius: 5px;

}
.container{
 display: grid;
 grid-template-columns:1fr 1fr 1fr;
 justify-content: space-evenly;
 margin: auto;
}
.name-trainer:first-letter{
  text-transform: uppercase;
}
.name-poke:first-letter {
  text-transform: uppercase;
}
.name-poke{
  
  color:rgb(5, 5, 5);
  border-radius: 4px 4px 0 0;
  margin-top:30px;
  
}
.skills{
  width: 300px;
  height:50px;
  background-color: rgb(0, 0, 0);
}
.input-select, .input-search{
  margin-bottom: 10px;
  margin: auto;
  width: 350px;
}

.input-container input{
  margin: 10px;
}
.poke-sphere{

  width: 50px;
}
.button{
  display: flex;
justify-content: space-evenly;
}
.button button{
 margin: 20px 2px;
width: max-content;
}
.sub-card-detail{
  color: rgb(14, 13, 13);
  margin-top: 50px;
 }
 .item-card-detail{
   background-color:gray;
 display: grid;
 grid-template-columns:1fr  1fr 1fr 1fr ;
 justify-items: stretch;
 margin-top: 37px;
 }
 
.img-detail{
  background-color: rgb(19, 150, 26);
  margin: 10px auto;
  border-radius: 10px;
  width:450px;
  height: 460px;
}

.img-detail img{
  border-radius: 10px;
  background: white;
  margin-top: 76px;
  width: 350px;
  height: 250px;
 
}

.container-detail{
  height: 100%;
  text-transform: uppercase;
  background-color:rgb(124, 190, 133);

}
@media (max-width: 600px) {
.banner{
  width: 250px;
}
.container{
  display: grid;
  grid-template-columns:1fr 1fr ;
  justify-content: space-evenly;
  margin: auto;
 }
 .pagination{
   display:none;
 }
}
@media (max-width: 400px) {
  .banner{
    width: 250px;
  }
  .container{
    display: grid;
    grid-template-columns:1fr ;
    justify-content: space-evenly;
    margin: auto;
   }
   .pagination{
     display:none;
   }
  }
