.App {
 
  text-align: center;
  
}
.animate__animated{
  
 height:250px;
}
.animate__backInRight{
  height: 370px;
}
.red{
  margin-bottom: -41px; 
  background-color: red;
  height:50px
}
.black{
 
  background-color: rgb(3, 3, 3);
  height:50px
}
.img-footer img{
  margin-bottom: -39px; 
width: 80px;

}
.img-card{
  background-color:white;
  border-radius:5px;
  width: 262px;
  height: 270px;
}
.img-card img{
  width: 200px;
  height: 200px;
  margin-top: -57px;
}
.card{
  background-color:red;
  box-shadow: -1px 1px 9px -5px rgba(0,0,0,0.57);
  margin: 30px 20px;
  display: flex;
  align-items: center;
  width: 300px;
  height: 475px;
}
.sub-card{
margin-top: 75px;
}
.item-card{
display: grid;
grid-template-columns:1fr  1fr;
justify-items: stretch;
margin-left: 35px;
margin-top: 37px;
}
.skill{
  margin: 20px 0;
  
}
.item-card p{
color: white;
width: max-content;
border-radius: 5px;

}
.container{
 
  padding:0 270px;
 display: grid;
 grid-template-columns:1fr 1fr 1fr;
 justify-content: space-evenly;
 margin: 50px;
}
.name-poke:first-letter {
  text-transform: uppercase;
}
.title{
  
  color:white;
  border-radius: 4px 4px 0 0;
  width: 300px;
  height: 100px;
  
}
.skills{
  width: 300px;
  height:50px;
  background-color: rgb(0, 0, 0);
}
.input-select, .input-search{
  margin: auto;
  width: 350px;
}

.input-container input{
  margin: 10px;
}
.poke-sphere{

  width: 50px;
}
.button button{
margin:10px;
width: 70px;
}
.img-detail{
  display: flex;
  margin: auto;
  background-color:white;
  border-radius: 10px;
  width:450px;
}
.img-detail img{
   display: flex;
   margin:auto;
}
.container-detail{
  text-transform: uppercase;
  box-shadow: 1px 8px 31px -9px rgba(0,0,0,0.75);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin:60px auto;
  background-color:green;
  width: 500px;
}